<app-colum-one></app-colum-one>


<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card  border-warning">
                <div class="card-header bg-warning text-black">

                    Register


                </div>

                <div class="card-body ">
                    <form>



                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label text-md-right">Name <span class="mandatory" style="color: red;">*</span></label>
                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control " name="name" required autocomplete="name" autofocus>


                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address <span class="mandatory" style="color: red;">*</span></label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control " name="email" required autocomplete="email">

                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password <span class="mandatory" style="color: red;">*</span></label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control " name="password" required autocomplete="new-password">



                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password <span class="mandatory" style="color: red;">*</span></label>

                            <div class="col-md-6">
                                <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required autocomplete="new-password">
                            </div>
                        </div>
                        <br>
                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-warning">
                                        Register
                                    </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>